doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://localhost:3000/socket.io/socket.io.js')
    script(src='http://code.jquery.com/jquery-1.11.1.js')
    script(src="/javascripts/client.js")
  body
    block content
